*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes animado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.contenedor{
    padding: 50px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}
.titulo{
    color: rgb(157, 121, 15);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* HEADER */

header{
    content: "";
    width: 100%;
    height: 600px;
    background-image: linear-gradient(180deg, #0000008c 0% ,#0000008c 100% ),url(ballons.jpg);
    background-size: cover;
    z-index: -1;
    position: relative;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0; 
}
nav  a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    margin-right: 10px;
}
nav a:hover{
    text-decoration: underline;
    
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.textos-header h1{
    font-size: 50px;
    color: #fff;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}
.wave{
    position: relative;
    bottom: 0;
    width: 100%;
}

/* ABOUT US */

/* Estilos para pantallas más grandes */
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contenido-textos {
    flex: 1;
    margin-right: 30px;
  }
  
  .titulo {
    margin-bottom: 15px;
  }
  
  /* Clase para ajustar el margen del título */
  .titulo-sobre-lugar {
    margin-bottom: 30px;
  }
  
  .parrafo-inicio {
    margin-bottom: 20px;
  }
  
  .img-inicio {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    .contenedor-sobre-nosotros {
      flex-direction: column;
      align-items: center;
      padding: 30px;
    }
  
    .contenido-textos {
      margin-bottom: 30px;
      text-align: center;
    }
  
    .img-inicio {
      width: 300px;
      height: 300px;
    }
  }
  


/* GALERIA */


.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center; /* Centrar la galería en la página */
}

.image-row {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: 1200px; /* Limitar el ancho de cada fila */
    margin: 10px 0; /* Espacio entre filas */
}

.image-row img {
    width: 30%; /* Cada imagen ocupa el 30% del ancho en pantallas grandes */
    max-width: 100%;
    height: auto;
    margin: 0 5px; /* Espacio entre imágenes */
    box-sizing: border-box; /* Incluir el margen dentro del 30% */
    border: 2px solid #ccc; /* Borde para las imágenes */
    border-radius: 10px; /* Redondear bordes */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .image-row {
        flex-direction: column; /* Mostrar imágenes en columna */
        align-items: center; /* Centrar imágenes */
        margin: 10px 0; /* Espacio entre filas */
    }

    .image-row img {
        width: 40%; /* Cada imagen ocupa el 40% del ancho en dispositivos móviles */
        margin: 10px 0; /* Espacio entre imágenes */
    }
}



/*Carrusel*/
 

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;

}

form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 20px;
}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;


}

input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: auto;
    box-sizing: border-box;
    font-size: 17px;

}
textarea{}
    

.servicios {
    background-image: linear-gradient(135deg, #ededac8c, rgb(207, 158, 158), #7087c18c,rgb(175, 156, 116), rgb(197, 192, 116));
    background-size: 500%; 
    animation: animado 5s infinite;
}

.ubicacion {

    background: #fff; 
    margin: 5px; 
    padding: 5px;
}


.contac {

    background: #fff; 
    margin: 10px; 
    margin-top: 90px;
    padding: 5px;

}



.mapa{

 
    margin: 10px; 
    padding: 10px;
    border: 2px solid#165480;

}

.col-lg-4 col-md-6 col-sm-12 {

    width: 200px;
    height: 40px;


}

/* Estilos para la clase img-thumbnail (icono) */
.img-thumbnail {
    width: 80px; /* Ajusta el tamaño del icono según tus necesidades */
    height: 80px; /* Ajusta el tamaño del icono según tus necesidades */
    display: block;
    margin: 0 auto;
  }
  
  /* Contenedor para centrar el icono */
  .icono-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Ajusta el alto del contenedor según tus necesidades */
  }
  
  /* Estilos para el párrafo */
  p {
    text-align: center;
  }
  
  
  
  
  

.foot {

   padding: 20px;
   margin: 10px ;

}
